body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 3em; /* Título maior */
    color: #ffc400;
    margin-top: -100px;

}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 20px 0; 
}

a {
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    padding: 15px 30px;
    border: 2px solid #fe9400; 
    border-radius: 5px; 
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

a:hover {
    border-color: #ffcc00;
    
}

.imagem {
width: 160x;
height: 160px;
margin-right: 100%;
}
